@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-3">@ViewBag.Title</h2>
    <h3 class="display-4" >@ViewBag.Message</h3>
    <p class="display-6">This is the home page!</p>
    <p class="display-7">Created by Marto Simov</p>
</div>
